################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lab1/.vs
/project1/.vs
/lab3/.vs
/project2/.vs
/project3/.vs